@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.show-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.show-block {
  display: block !important;
}

.show-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1140px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.textRegular {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.textBold {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.textSmall {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.textMiddle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.textBase {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.textBig {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.textLarge {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.textLargeRegular {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.textLargeBold {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.header {
  grid-area: header;
  background: #222222;
  min-height: 75px;
}

.header .nav {
  padding: 18px 0 19px;
}

@media (max-width: 1024px) {
  .header .nav {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  padding-right: 9px;
}

.header-menu_logo {
  padding-right: 41px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header-menu_catalog {
  margin-left: auto;
  padding-right: 25px;
}

@media (max-width: 670px) {
  .header-menu_catalog {
    padding-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header-menu_reg {
  padding-right: 42px;
}

@media (max-width: 670px) {
  .header-menu_reg {
    display: none;
  }
}

.header-menu_cart {
  position: relative;
}

.header-menu_cart .cart-count {
  position: absolute;
  right: -9px;
  top: -8px;
  background: #F16D7F;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 19px;
  height: 19px;
  border: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 670px) {
  .header-menu_cart {
    display: none;
  }
}

.header-menu_link {
  text-decoration: none;
}

.header_chapter-info {
  background: #F8F3F4;
}

.header_chapter-info .chapter {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_chapter-info .chapter_title {
  color: #F16D7F;
}

.header_chapter-info .chapter_menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  color: #636363;
}

.header_chapter-info .chapter_menu_link {
  text-decoration: none;
  color: #636363;
}

.header_chapter-info .chapter_menu_link:hover {
  text-decoration: underline;
}

.header_chapter-info .chapter_menu_li:last-of-type .chapter_menu_link {
  color: #F16D7F;
  font-weight: 700;
}

@media (max-width: 668px) {
  .header_chapter-info .chapter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.brend {
  grid-area: brend;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  z-index: 2;
}

.brend-men {
  width: 50vw;
  background: rgba(113, 103, 105, 0.08);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

@media (max-width: 670px) {
  .brend-men {
    display: none;
  }
}

.brend-logo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.brend-logo .logo-rect {
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  margin-right: 16px;
  margin-left: 64px;
}

@media (max-width: 1024px) {
  .brend-logo .logo-rect {
    margin-left: 39px;
  }
}

@media (max-width: 670px) {
  .brend-logo .logo-rect {
    height: 61px;
    margin-right: 15px;
    margin-left: 0;
  }
}

.brend-logo .logo-text {
  white-space: nowrap;
}

.brend-logo .logo-text-bolder {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  text-align: left;
  color: #222222;
}

@media (max-width: 1024px) {
  .brend-logo .logo-text-bolder {
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 670px) {
  .brend-logo .logo-text-bolder {
    font-size: 38px;
    line-height: 46px;
  }
}

.brend-logo .logo-text-bold {
  font-weight: 700;
  font-size: 32px;
  line-height: 48.4px;
  text-align: left;
}

@media (max-width: 1024px) {
  .brend-logo .logo-text-bold {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 670px) {
  .brend-logo .logo-text-bold {
    font-size: 20px;
    line-height: 24px;
  }
}

.brend-logo .logo-text-red {
  color: #F16D7F;
}

@media (max-width: 670px) {
  .brend-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 670px) {
  .brend {
    -ms-grid-rows: 363px;
        grid-template-rows: 363px;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 75px;
  right: 0;
  max-height: 764px;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  -ms-grid-columns: 1fr 232px;
      grid-template-columns: 1fr 232px;
      grid-template-areas: ". menu";
}

.menu .close {
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.menu .menu-list {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-left: 34px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 157px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu .menu-list .menu-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 9px;
}

.menu .menu-list .menu-head {
  font-weight: 700;
  color: #000000;
  margin-bottom: 24px;
}

.menu .menu-list .menu-title {
  color: #F16D7F;
  margin-top: 20px;
  margin-bottom: 12px;
}

.menu .menu-list .menu-text {
  color: #6F6E6E;
  list-style: none;
}

.menu .menu-list .menu_link {
  text-decoration: none;
  color: #6F6E6E;
  display: inline;
}

.menu .menu-list .menu_link_padding {
  margin-left: 21px;
  margin-bottom: 11px;
}

.offer {
  margin-top: 65px;
  margin-bottom: 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}

.offer_card {
  position: relative;
}

.offer_card .card-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.offer_card .card-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 22, 22, 0.7);
}

@media (max-width: 670px) {
  .offer_card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.offer_card:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.offer .offer-card_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

.offer .offer-card_text-top {
  color: #FFFFFF;
}

.offer .offer-card_text-bottom {
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .offer {
    margin-top: 20px;
    margin-bottom: 155px;
    gap: 19px;
  }
}

@media (max-width: 670px) {
  .offer {
    margin-top: 64px;
    margin-bottom: 64px;
    grid-auto-rows: minmax(111px, auto);
    gap: 32px;
  }
}

.items {
  margin-bottom: 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.items-top_text {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.items-top_text-top {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-bottom: 6px;
}

.items-top_text-bottom {
  color: #9F9F9F;
}

.items-button {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #F26376;
  text-align: center;
  padding: 14px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FF6A6A;
  background-color: white;
  cursor: pointer;
}

.items-button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.items-cards {
  margin: 48px 0 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .items-cards {
    margin-top: 72px;
    margin-bottom: 32px;
    gap: 16px;
  }
}

@media (max-width: 670px) {
  .items-cards {
    margin-top: 64px;
    margin-bottom: 40px;
  }
}

.items-hover {
  position: absolute;
  background-color: rgba(58, 56, 56, 0.86);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-hover_button {
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #FFFFFF;
  padding: 10px 13px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-hover_button-text {
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 11px;
}

.items-index {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.items-infocards {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 360px);
      grid-template-columns: minmax(auto, 360px);
  -ms-grid-rows: 420px 137px;
      grid-template-rows: 420px 137px;
  gap: 25px;
  position: relative;
  background: #F8F8F8;
}

.items-infocards_image {
  position: relative;
}

.items-infocards_image .index-item1 {
  background-image: url("image/index-item1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item2 {
  background-image: url("image/index-item2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item3 {
  background-image: url("image/index-item3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item4 {
  background-image: url("image/index-item4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item5 {
  background-image: url("image/index-item5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item6 {
  background-image: url("image/index-item6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item7 {
  background-image: url("image/index-item7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item8 {
  background-image: url("image/index-item8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item9 {
  background-image: url("image/index-item9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item10 {
  background-image: url("image/index-item10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item11 {
  background-image: url("image/index-item11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image .index-item12 {
  background-image: url("image/index-item12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.items-infocards_image:hover .items-hover {
  z-index: 2;
}

.items-infocards_text {
  text-align: left;
  padding-left: 17px;
  padding-right: 29px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.items-infocards_text-name {
  color: #000000;
}

.items-infocards_text-info {
  color: #5D5D5D;
  padding-top: 13px;
  padding-bottom: 18px;
}

.items-infocards_text-prise {
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .items {
    margin-bottom: 65px;
  }
}

@media (max-width: 670px) {
  .items {
    margin-bottom: 96px;
  }
}

.product_images {
  background: #F7F7F7;
  height: 777px;
  background-image: url(image/product/product-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .product_images {
    height: 624px;
    background-size: contain;
  }
}

@media (max-width: 668px) {
  .product_images {
    background-size: cover;
  }
}

.product_shift {
  width: 47px;
  height: 47px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 42, 42, 0.15);
}

.product_shift:hover path {
  fill: #F16D7F;
}

.product_info {
  position: relative;
  top: -65px;
  max-width: 1140px;
  margin: 0 auto;
  height: 601px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
}

.product_info_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_info_text .product-collection {
  color: #F16D7F;
}

.product_info_text .product-title {
  font-weight: 300;
  color: #4D4D4D;
}

.product_info_text .product-line {
  background: #EF5B70;
  height: 3px;
  width: 63px;
  border: 0;
  margin: 12px 0;
}

.product_info_text .product-text {
  max-width: 555px;
  margin: 48px 0 32px;
  text-align: center;
  color: #5E5E5E;
}

@media (max-width: 668px) {
  .product_info_text .product-text {
    line-height: 20px;
  }
}

.product_info_text .product-price {
  color: #EF5B70;
}

@media (max-width: 668px) {
  .product_info_text .product-price {
    line-height: 31px;
  }
}

.product_info_line {
  width: 641px;
  background: #EAEAEA;
  border: 0;
  height: 1px;
}

@media (max-width: 668px) {
  .product_info_line {
    width: 175px;
  }
}

.product_info_choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product_info_choose .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_info_choose .choose_item_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  text-decoration: none;
  color: #6F6E6E;
}

@media (max-width: 668px) {
  .product_info_choose .choose_item_button {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 668px) {
  .product_info_choose .choose {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    font-size: 10px;
    line-height: 12px;
  }
}

.product_info_choose .choose-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F26376;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  background: #FFFFFF;
  margin-top: 49px;
}

@media (max-width: 1024px) {
  .product_info {
    top: 0;
  }
}

@media (max-width: 668px) {
  .product_info {
    padding: 0 25px;
  }
}

.product-items_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  -ms-grid-rows: auto 0px;
      grid-template-rows: auto 0px;
  overflow: hidden;
  margin-top: 64px;
  margin-bottom: 129px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .product-items_card {
    margin-top: 129px;
    margin-bottom: 129px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
  .product-items_card .items-infocards:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .product-items_card .items-infocards:nth-child(even) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .product-items_card .items-infocards:last-child {
    display: none;
  }
}

@media (max-width: 668px) {
  .product-items_card {
    overflow: visible;
    -ms-grid-rows: repeat 2, 581px 0px;
        grid-template-rows: repeat 2, 581px 0px;
    -ms-grid-columns: minmax(auto, 360px);
        grid-template-columns: minmax(auto, 360px);
    margin-top: 64px;
    margin-bottom: 64px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .product-items_card .items-infocards:last-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .product-items_card .items-infocards:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .product-items_card .items-infocards:nth-child(even) {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 37px;
  margin-bottom: 95px;
}

@media (max-width: 1024px) {
  .catalog {
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1024px) {
  .catalog-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 360px) {
  .catalog-menu {
    gap: 15px;
  }
}

.catalog-menu .filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-menu .filter .basic {
  padding-left: 16px;
  padding-top: 13px;
}

.catalog-menu .filter .basic a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 1024px) {
  .catalog-menu .filter .basic {
    padding-left: 0px;
  }
}

@media (max-width: 668px) {
  .catalog-menu .filter {
    width: auto;
  }
}

.catalog-menu .filter span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-right: 11px;
}

@media (max-width: 668px) {
  .catalog-menu .filter span {
    display: none;
  }
}

@media (max-width: 1024px) {
  .catalog-menu .filter {
    padding-right: 0;
  }
}

@media (max-width: 668px) {
  .catalog-menu .filter {
    padding-left: 0;
  }
  .catalog-menu .filter svg {
    width: 38px;
    height: 25px;
  }
}

.catalog-menu .filter-menu {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-rows: (auto)[autofit];
      grid-template-rows: repeat(autofit, auto);
  gap: 18px;
}

.catalog-menu .filter-menu .title {
  text-decoration: none;
  height: 37px;
  width: 100%;
  border-left: 5px solid #EF5B70;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #6F6E6E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 11px;
  border-bottom: solid #EBEBEB;
}

.catalog-menu .filter-menu .active {
  color: #EF5B70;
}

.catalog-menu .filter-menu .menuItems {
  display: none;
  padding-top: 24px;
  padding-bottom: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.catalog-menu .filter-menu .menuItems a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 18px;
}

.catalog-menu .filter-active {
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog-menu .filter-active svg path {
  fill: #EF5B70;
}

.catalog-menu .filter-active .basic {
  background: #FFFFFF;
}

@media (max-width: 1024px) {
  .catalog-menu .filter-active .basic {
    padding-left: 16px;
  }
}

.catalog-menu .filter-active .basic a {
  color: #EF5B70;
}

.catalog-menu .filter-active .filter-menu {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 16px;
}

.catalog-menu .sort {
  padding-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  max-width: 296px;
  top: 0;
  left: 390px;
}

@media (max-width: 730px) {
  .catalog-menu .sort {
    font-size: 12px;
    line-height: 14px;
    left: auto;
    right: 0;
    width: 260px;
  }
}

@media (max-width: 320px) {
  .catalog-menu .sort {
    font-size: 10px;
    width: 220px;
  }
}

.catalog-menu .sort ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.catalog-menu .sort ul img {
  width: 10px;
}

@media (max-width: 668px) {
  .catalog-menu .sort ul {
    gap: 24px;
  }
}

@media (max-width: 360px) {
  .catalog-menu .sort ul {
    gap: 15px;
  }
}

.catalog-menu .sort span {
  padding-right: 10px;
}

@media (max-width: 668px) {
  .catalog-menu .sort span {
    padding-right: 8px;
  }
}

.catalog-menu .sort a {
  text-decoration: none;
  color: #6F6E6E;
  white-space: nowrap;
}

.catalog-menu .sort .size {
  position: relative;
}

.catalog-menu .sort .size .size-sort {
  display: none;
  position: absolute;
  top: 23px;
  left: -10px;
  z-index: 2;
  width: 79px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  color: #6F6E6E;
}

.catalog-menu .sort .size .size-sort input {
  margin-right: 9px;
  border: 1px solid #EBEBEB;
  border-radius: 0;
}

.catalog-menu .sort fa-angle-down:before {
  color: #6F6E6E;
  font-weight: lighter;
}

.catalog-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 94px 0 48px;
}

@media (max-width: 1024px) {
  .catalog-card {
    gap: 16px;
    padding: 70px 0 40px;
  }
  .catalog-card .items-infocards:nth-child(3) {
    display: none;
  }
}

@media (max-width: 668px) {
  .catalog-card {
    -ms-grid-columns: minmax(auto, 360px);
        grid-template-columns: minmax(auto, 360px);
  }
}

.catalog .pagination {
  width: 284px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 15px;
  color: #C4C4C4;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .pagination a {
  text-decoration: none;
  font-weight: 300;
  color: #C4C4C4;
}

.catalog .pagination .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.catalog .pagination .pages .hide {
  display: inherit;
}

.catalog .pagination a.activePage {
  color: #EF5B70;
}

.catalog .pagination img {
  width: 8px;
  height: 14px;
}

.customer-box {
  background: #222224;
  padding: 104px 0;
}

.customer-box .customer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  grid-auto-rows: 134px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-box .customer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer-box .customer-info_img {
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.customer-box .customer-info_title {
  color: #FBFBFB;
  text-align: center;
  margin: 20px 0 16px;
}

.customer-box .customer-info_text {
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 1024px) {
  .customer-box .customer {
    -ms-grid-columns: minmax(auto, 360px);
        grid-template-columns: minmax(auto, 360px);
    gap: 48px;
  }
}

@media (max-width: 670px) {
  .customer-box .customer {
    gap: 47px;
  }
}

@media (max-width: 1024px) {
  .customer-box {
    padding: 48px 0 64px;
  }
}

@media (max-width: 670px) {
  .customer-box {
    padding-bottom: 81px;
  }
}

.subscribe-box {
  position: relative;
  background-image: url("image/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.subscribe-box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  z-index: 2;
}

.subscribe-box .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 448px;
}

.subscribe-box .subscribe-speak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  max-width: 360px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.subscribe-box .subscribe-speak_img {
  height: 96px;
  padding-bottom: 30px;
  border-radius: 50%;
}

.subscribe-box .subscribe-speak_info {
  text-align: center;
  color: #222224;
}

@media (max-width: 670px) {
  .subscribe-box .subscribe-speak {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscribe-box .subscribe-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  max-width: 360px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.subscribe-box .subscribe-mail_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subscribe-box .subscribe-mail_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  padding-bottom: 32px;
}

.subscribe-box .subscribe-mail .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 356px;
  min-width: 300px;
}

.subscribe-box .subscribe-mail .mail .field_mail {
  background: #E1E1E1;
  width: 70%;
  color: #222224;
  opacity: 0.67;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0 7px 22px;
  border: 0 solid #E1E1E1;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.subscribe-box .subscribe-mail .mail .button_mail {
  width: 30%;
  background: #E05C6E;
  border: 0 solid #E05C6E;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .subscribe-box .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 64px 0 120px;
  }
}

@media (max-width: 1024px) {
  .subscribe-box {
    background-position: 25%;
  }
}

.footer-box {
  background: #222224;
}

.footer-box .footer {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px  0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-box .footer_text {
  color: #FBFBFB;
}

.footer-box .footer_link {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-box .footer_link .link-FIPTBox {
  height: 32px;
  width: 32px;
  text-decoration: none;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-box .footer_link .link-FIPTBox:hover {
  background: #F16D7F;
}

.footer-box .footer_link .link-FIPTBox:hover .FIPT-image path {
  fill: white;
}

.footer-box .footer_link .link-FIPTBox:hover .FIPT-image {
  display: inline-block;
  height: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1024px) {
  .footer-box .footer {
    padding-left: 16px;
    padding-right: 9px;
  }
}

@media (max-width: 670px) {
  .footer-box .footer {
    min-height: 143px;
    padding: 43px 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */