@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@mixin itemBackground ($_urlImage) {
    background-image: url(#{$_urlImage});
    background-size: cover;
    background-repeat: no-repeat;
}


$bgr-header: #222222;
$bgr-brend: #F1E4E6;
$bgr-footer: #222224;
$bgr-white: #FFFFFF;
$color-pink: #F16D7F;
$color-menu: #6F6E6E;
$margin-big: 32px;
$margin-small: 16px;
$height-header:75px;
$height-footer: 79px;
$height-footer-max: 143px;

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.textRegular {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.textBold {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.textSmall {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.textMiddle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.textBase {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.textBig {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.textLarge {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.textLargeRegular {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.textLargeBold {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}


.header {
    grid-area: header;
    background: $bgr-header;
    min-height: $height-header;

    .nav {
        padding: 18px 0 19px;
    }
    
    &-menu {
        display: flex;
        align-items: flex-end;
        list-style: none;
        padding-right: 9px;

        &_logo {
            padding-right: 41px;
            align-self: flex-start;
        }

        &_catalog{
            margin-left: auto;
            padding-right: 25px;
        }

        &_reg {
            padding-right: 42px;
        }

        &_cart {
            position: relative;

            .cart-count {
                position: absolute;
                right: -9px;
                top: -8px;
                background: $color-pink;
                color: $bgr-white;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                width: 19px;
                height: 19px;
                border:0;
                border-radius: 50%; 
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_link {
            text-decoration: none;
        }
    }
}

.brend {
    grid-area: brend;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    z-index: 2;

     &-men { 
         width: 50vw;
         background: rgba(113, 103, 105, 0.08);
         object-fit: contain;
         object-position: center bottom; 
     }

     &-logo {
        background: $bgr-brend;
         display: flex;
         align-items: center;
         justify-content: start;

         .logo-rect {
            width: 12px;
            height: 92px;
            background-color: $color-pink;
            margin-right: 16px;
            margin-left: 64px;
        
        }
    
        .logo-text {
            white-space: nowrap;
    
            &-bolder {
                font-weight: 900;
                font-size: 48px;
                line-height: 57.6px;
                text-align: left; 
                color: $bgr-header; 
            }
    
            &-bold {
                font-weight: 700;
                font-size: 32px;
                line-height: 48.4px;
                text-align: left;  
            }
    
            &-red {
                color: $color-pink;
            }
        }

     }

}
.menu {
    display: none;
    position: absolute;
    top: $height-header;
    right: 0;
    max-height: 764px;
    width: 100%;
    z-index: 3;
    background:rgba(0, 0, 0, 0.5);
    grid-template-columns: 1fr 232px;
    grid-template-areas: ". menu";

    .close {
        height: 12px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .menu-list {
            grid-area: menu;
            background-color: $bgr-white;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding-left: 34px;
            padding-right: 16px;
            padding-top: 16px;
            padding-bottom: 157px;
            box-sizing: border-box;
        .menu-block {
            box-sizing: border-box;
            padding-top: 9px;
        }
        
        .menu-head {
            font-weight: 700;
            color: #000000;
            margin-bottom: 24px;
        }
        
        .menu-title {
            color: $color-pink;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        
        .menu-text {
            color:  $color-menu;
            list-style: none;
        }
        
        .menu_link {
            text-decoration: none;
            color: $color-menu;
            display: inline;
            
            &_padding {
                margin-left: 21px;
                margin-bottom: 11px;
            }
        }
    }
}

.menu-active {
    display: grid;
}

.offer {
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(min-content,max-content);
    
    &_card {
       position: relative;
  
        .card-image {
            object-fit: cover;
            width: 100%;
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0; 
                left: 0;
                background: rgba(33, 22, 22, 0.7);
            }
        } 
    }

    &_card:last-child {
         grid-column: 1/4;
    }

    .offer-card_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;

        &-top {
            color: $bgr-white;
        }

        &-bottom {
            color: $color-pink;
        }
    }

   
}

.items {

    margin-bottom: 96px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    
    
    &-top_text {
        text-align: center;
        align-content: center;

        &-top {
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: $bgr-header; 
            padding-bottom: 6px;
        }

        &-bottom {
            color: #9F9F9F;
        }
    }

    &-button {
        justify-self: center;
        color: #F26376;
        text-align: center;
        padding: 14px 38px;
        box-sizing: border-box;
        border: 1px solid #FF6A6A;
        background-color: white;
        cursor: pointer;
   }

   &-button:hover {
    background: $color-pink; 
    color: $bgr-white;
   }

    &-cards {
        margin: 48px 0 48px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(auto,360px));
        gap: 30px;
        justify-content: center;
    }
    
    &-hover {
        position: absolute;
        background-color: rgba(58, 56, 56, 0.86);
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        &_button {
            align-self: center;
            border: 1px solid #FFFFFF;
            padding: 10px 13px ;
            background-color: rgba(58, 56, 56, 0.86);
            display: flex;
            justify-content: space-between;
            
            &-text {
            color: #FFFFFF;
            align-self: center;
            padding-left: 11px;
            }  
        }

       
    }

    &-index {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &-infocards {
            justify-self: center;
            display: grid;
            grid-template-columns: minmax(auto,360px);
            grid-template-rows: 420px 137px;
            gap: 25px;
            position: relative;
            background: #F8F8F8;
        
            &_image {
                position: relative;

                .index-item1 {
                    @include itemBackground("image/index-item1.jpg");
                }
                
                .index-item2 {
                    @include itemBackground(url(image/index-item2.jpg));
                }
                
                .index-item3 {
                    @include itemBackground(url(image/index-item3.jpg));
                }
                
                .index-item4 {
                    @include itemBackground(url(image/index-item4.jpg));
                }
                
                .index-item5 {
                    @include itemBackground(url(image/index-item5.jpg));
                }
                
                .index-item6 {
                    @include itemBackground(url(image/index-item6.jpg));
                }

                &:hover .items-hover {
                        z-index: 2;
                    }   
            }

            &_text {
                text-align: left;
                padding-left: 17px;
                padding-right: 29px;
                padding-bottom: 20px;
                box-sizing: border-box;
            

                &-name {
                    color: #000000;
                }

                &-info {
                    color: #5D5D5D;
                    padding-top: 13px;
                    padding-bottom: 18px;
                }

                &-prise {
                    color: #F16D7F;
                }
            }
        }
}

.customer-box {
    background: $bgr-footer;
    padding: 104px 0;
    
    .customer {
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(auto,360px));
        grid-auto-rows: 134px;
        gap: 30px;
        justify-content: center;

        &-info {
            display: flex;
            flex-direction: column;

            &_img {
                height: 40px;
                align-self: center;
            }

            &_title {
                color: #FBFBFB;
                text-align: center;
                margin: 20px 0 16px;
            }

            &_text {
                text-align: center;
                color: #FBFBFB;
            }
        }
    }
}

.subscribe-box {
    position: relative;
    background-image: url(image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(244, 244, 244, 0.7);
        z-index: 2;
    }   

    .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 448px;
    
        &-speak {
            display: flex;
            flex-direction: column;
            z-index: 3;
            max-width: 360px;
            flex-basis: 40%;

            &_img {
                height: 96px;  
                padding-bottom: 30px; 
                border-radius: 50%; 
            }

            &_info {
                text-align: center;
                color: #222224;
            }
        }

        &-mail {
            display: flex;
            flex-direction: column;
            z-index: 3;
            max-width: 360px;
            flex-basis: 40%;

            &_title {
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
                color: #222224;
            }

            &_text {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #222224;
                padding-bottom: 32px;
            }

            .mail {
                display: flex;
                height: 49px;
                align-self: center;
                max-width: 356px;
                min-width: 300px;

                .field_mail {
                    background: #E1E1E1;
                    width: 70%;
                    color: #222224;
                    opacity: 0.67;
                    box-sizing: border-box;
                    padding: 6px 0 7px 22px;
                    border: 0 solid #E1E1E1;
                    border-top-left-radius: 24px ;
                    border-bottom-left-radius: 24px;
                }

                .button_mail {
                    width: 30%;
                    background: #E05C6E;
                    border: 0 solid #E05C6E ;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    justify-self: center;
                    text-align: center;
                    color: #FFFFFF;
                }
                
            }
        }
    }
}


.footer-box {
    background: $bgr-footer;
    
    .footer {
        min-height: $height-footer;
        display: flex;      
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px  0;
        box-sizing: border-box;

        &_text {
            color: #FBFBFB;
        }

        &_link {
            width: 148px;
            display: flex;
            justify-content: space-between;

            .link-FIPTBox {
                height: 32px;
                width: 32px;
                text-decoration: none;
                background: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .link-FIPTBox:hover {
                background: #F16D7F;

                .FIPT-image path {
                    fill: white;
                }
            
                .FIPT-image {
                    display: inline-block;
                    height: 15px;
                    align-self: center;
                }
            }  
        }

        @media (max-width: 1024px) {
            padding-left: 16px;
            padding-right: 9px;
        }
    }
}




//tablet 
@media (max-width: 1024px) {

    .container {
        margin-left:  16px ;
        margin-right: 16px;
    }

    .header {
        .nav{
        padding-right: 16px;
        padding-left: 16px;
        }
    }

    .brend {

        &-logo {
            .logo-rect {
                margin-left: 39px;
            }

            .logo-text {
                &-bolder {
                    font-size: 44px;
                    line-height: 53px;
                }

                &-bold {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }

    .offer {
        margin-top: 20px;
        margin-bottom: 155px;
        gap: 19px;
    }

    .items {
        margin-bottom: 65px;
        
        &-cards {
            margin-top: 72px;
            margin-bottom: 32px;
            gap: 16px;
        }
    }



    .customer-box {
        padding: 48px 0 64px;

        .customer {
            grid-template-columns: minmax(auto,360px);
            gap:48px;   
        }
    }

    .subscribe-box {
        background-position: 25%;

        .subscribe {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 64px 0 120px;

           
        }
    }


}


//phone
@media (max-width: 670px) {

    .header {
        &-menu_catalog {
            padding-right: 0;
            align-self: center;
        }

        &-menu_reg,
        &-menu_cart {
            display: none;
        }
    }

    .brend {
        grid-template-rows: 363px;

        &-men {
            display: none;
        }
    
        &-logo {
            grid-column: 1/3;
            justify-content: center;

            .logo-rect {
                height: 61px;
                margin-right: 15px;
                margin-left: 0;
            }

            .logo-text {
                &-bolder {
                    font-size: 38px;
                    line-height: 46px;
                }

                &-bold {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .offer {
      
        margin-top: 64px;
        margin-bottom: 64px;
        grid-auto-rows: minmax(111px, auto);
        gap: 32px;

        &_card {
            grid-column: 1/4;
        }
    }

    .items {
        margin-bottom: 96px;

        &-cards {
            margin-top: 64px;
            margin-bottom: 40px;
        }
    }


    .customer-box {
        padding-bottom: 81px;

        .customer {
            gap:47px;
        }
    }   

    .subscribe-box {

        .subscribe {
            &-speak_info {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }


    .footer-box {
        .footer {
            min-height: $height-footer-max;
            padding: 43px 0 24px;
            flex-direction: column-reverse;
            justify-content: space-between;
        }
    }
}