.b-btnRegistr {
    padding: 16px 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    border: none;
    width: fit-content;

    &__arrow {
        padding-left: 20px;
    }

}